Source: ros-fuerte-urdfdom-headers
Section: misc
Priority: extra
Maintainer: John Hsu <johnhsu@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost1.46-all-dev,libtinyxml-dev,cmake,pkg-config
Homepage: http://www.ros.org/wiki/urdf
Standards-Version: 3.9.2

Package: ros-fuerte-urdfdom-headers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost1.46-all-dev,libtinyxml-dev
Description: Header files for core data structures used by URDF parsers

