Source: ros-indigo-urdfdom-headers
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@google.com>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev, libtinyxml-dev, ros-indigo-console-bridge
Homepage: http://wiki.ros.org/urdf
Standards-Version: 3.9.2

Package: ros-indigo-urdfdom-headers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libtinyxml-dev, ros-indigo-catkin, ros-indigo-console-bridge
Description: C++ Headers for URDF
